<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ScoreMapper"> <!--현재파일경로-->
    <resultMap id="scoreMap" type="game.Score"> <!--멤버클래스의 변수명을 map처리하여 오라클과 동일하게만듬-->
        <result column="SCORE" property="score" />
        <result column="USER_ID" property="userId" />
    </resultMap>
    <select id="allScore" resultMap="scoreMap"><!--클래스경로  or 매퍼된변수이름-->
        SELECT *
        FROM SCORE_GAME
        WHERE ROWNUM &lt;= 10
        ORDER BY SCORE DESC
    </select>
    <select id="myScore" resultMap="scoreMap"><!--클래스경로  or 매퍼된변수이름-->
        SELECT *
        FROM SCORE_GAME
        <where>
            <if test="userId != null">
                USER_ID = #{userId}
            </if>
        </where>
        ORDER BY SCORE DESC
    </select>
    <insert id="insertScore">
        INSERT INTO SCORE_GAME
        VALUES (#{score}, #{userId})
    </insert>
</mapper>