<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardMapper"> <!--현재파일경로-->
    <resultMap id="boardMap" type="board.Board"> <!--멤버클래스의 변수명을 map처리하여 오라클과 동일하게만듬-->
        <result column="SEQ" property="seq" />
        <result column="POSTER" property="poster" />
        <result column="SUBJECT" property="subject" />
        <result column="CONTENT" property="content" />
        <result column="REG_DT" property="regDt" />
        <result column="MOD_DT" property="modDt" />
    </resultMap>
<!--정확한검색-->
    <select id="getList" resultMap="boardMap"><!--클래스경로  or 매퍼된변수이름-->
        SELECT * FROM BOARD
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="subject != null">
                SUBJECT LIKE #{subject}
            </if>
            <if test="content != null">
                AND CONTENT LIKE #{content}
            </if>
        </trim>
    </select>
<!--포함검색-->
    <select id="getList2" resultMap="boardMap"><!--클래스경로  or 매퍼된변수이름-->
        <bind name="P_subject" value="'%' + _parameter.getSubject() + '%'" />
        <bind name="P_content" value ="'%' + _parameter.getContent() + '%'" />
        SELECT * FROM BOARD
        <where>
            <if test="subject != null">
                SUBJECT LIKE #{P_subject}
            </if>
            <if test="content != null">
                AND CONTENT LIKE #{P_content}
            </if>
        </where>
    </select>
<!-- 게시글번호로 조회-->
    <select id="getList3" resultMap="boardMap">
    SELECT * FROM BOARD
        <where>
            SEQ = #{seq}
        </where>
    </select>
<!-- 게시글작성 -->
    <insert id="writeBoard">
        INSERT INTO BOARD (SEQ, POSTER, SUBJECT, CONTENT)
        VALUES(SEQ_BOARD.NEXTVAL, #{poster}, #{subject}, #{content})
    </insert>



</mapper>