<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MemberMapper"> <!--현재파일경로-->
    <resultMap id="memberMap" type="member.Member"> <!--멤버클래스의 변수명을 map처리하여 오라클과 동일하게만듬-->
        <result column="USER_NO" property="userNo" />
        <result column="USER_ID" property="userId" />
        <result column="USER_PW" property="userPw" />
        <result column="USER_NM" property="userNm" />
        <result column="MOBILE" property="mobile" />
        <result column="REG_DT" property="regDt" />
        <result column="MOD_DT" property="modDt" />
    </resultMap>

    <select id="getList" resultMap="memberMap"><!--클래스경로  or 매퍼된변수이름-->
        SELECT * FROM MEMBER
    </select>
    <insert id="register">
        INSERT INTO MEMBER (USER_NO, USER_ID, USER_PW, USER_NM, MOBILE)
        VALUES (SEQ_MEMBER.NEXTVAL, #{userId}, #{userPw}, #{userNm}, #{mobile})
    </insert>
    <insert id="register2">
        <selectKey keyProperty="userNo" order="BEFORE" resultType="long">
            <!-- 시퀀스객체에 값을 넣을수 있게함.  insert쿼리를 수행하기 전에 먼저 수행해야하기 때문에 BEFORE -->
            SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO MEMBER (USER_NO, USER_ID, USER_PW, USER_NM, MOBILE)
        VALUES (#{userNo}, #{userId}, #{userPw}, #{userNm}, #{mobile})
        <!-- SELECT SEQ_MEMBER.NEXTVAL FROM DUAL을통해 가져온 시퀀스값을 userno에 넣음 -->
    </insert>
    <update id="modify">
        UPDATE MEMBER
        SET
            USER_PW = #{userPw},
            USER_NM = #{userNm},
            MOBILE = #{mobile},
            MOD_DT = SYSDATE
        WHERE USER_ID = #{userId}
    </update>
    <delete id="delete">
        DELETE FROM MEMBER
        WHERE USER_ID = #{userId}
    </delete>

</mapper>