<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MemberMapper"> <!--현재파일경로-->
    <select id="getList" resultType="member.Member"> <!--클래스경로-->
        SELECT * FROM MEMBER
    </select>
    <!--
    <insert id="">

    </insert>
    <update id="">

    </update>
    <delete id="">

    </delete>
    -->
</mapper>